.chart {
  max-width: 1200px;
  margin-inline: auto;
}

.chart-canvas-wrapper {
  position: relative;
  width: 100%;
  height: 260px;
}

.chart.pie .chart-canvas-wrapper,
.chart.donut .chart-canvas-wrapper {
  height: 240px;
}

.chart.horizontal-bar .chart-canvas-wrapper {
  height: 220px;
}

@media (width >= 600px) {
  .chart-canvas-wrapper {
    height: 340px;
  }
}

@media (width >= 900px) {
  .chart-canvas-wrapper {
    height: 400px;
  }

  .chart.pie .chart-canvas-wrapper,
  .chart.donut .chart-canvas-wrapper {
    height: 300px;
  }

  .chart.horizontal-bar .chart-canvas-wrapper {
    height: 280px;
  }
}
